# Kernel module build artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
*.order
*.symvers

.tmp_versions/
modules.order
Module.symvers

# User-space binary
nonblock_read
nonblock_write
poll_read
ioctl_test


# Editor settings
.vscode/
